/* Source: https://codepen.io/jaflo/pen/AzgmQb */

.box {
  font-size: 20px;
  font-family: "pokmon_ds_fontregular";
  border-radius: 2px;
  padding: 8px;
  width: 300px;
  height: 350px;
  line-height: 16px;
  margin-bottom: 8px;
  background: white;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black,
    inset 0 1px 0 1px black,
    0 0 0 1px black,
    inset 0 0 0 1px black;
  overflow: overlay;
  resize: none;
}

.box>i {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: black;
  margin-top: 23px;
  animation: bounce 0.5s ease-in-out 0 infinite alternate;
  float: right;
}